# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes Spring Boot dependency information and slices an application into multiple layers"
  homepage = "https://github.com/paketo-buildpacks/spring-boot"
  id = "paketo-buildpacks/spring-boot"
  keywords = ["java", "spring", "spring-boot"]
  name = "Paketo Buildpack for Spring Boot"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/spring-boot/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/helper", "bin/main", "buildpack.toml", "spring-generations.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "whether to contribute Spring Boot cloud bindings support"
    name = "BP_SPRING_CLOUD_BINDINGS_DISABLED"

  [[metadata.configurations]]
    default = "true"
    description = "Deprecated - whether to auto-configure Spring Boot environment properties from bindings"
    launch = true
    name = "BPL_SPRING_CLOUD_BINDINGS_ENABLED"

  [[metadata.configurations]]
    default = "false"
    description = "whether to auto-configure Spring Boot environment properties from bindings"
    launch = true
    name = "BPL_SPRING_CLOUD_BINDINGS_DISABLED"

  [[metadata.configurations]]
    build = true
    default = "1"
    description = "default version of Spring Cloud Bindings library to contribute"
    name = "BP_SPRING_CLOUD_BINDINGS_VERSION"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:vmware:spring_cloud_bindings:1.13.0:*:*:*:*:*:*:*"]
    id = "spring-cloud-bindings"
    name = "Spring Cloud Bindings"
    purl = "pkg:generic/springframework/spring-cloud-bindings@1.13.0"
    sha256 = "70a448cd45d1dbc117770f934961cd9577c0c4404d34986824f8f593cae4aada"
    source = "https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-bindings/1.13.0/spring-cloud-bindings-1.13.0-sources.jar"
    source-sha256 = "c3f4d0678682fee85d22109fd8257948811956bac095d6eca6b9d5c2cd97690f"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-bindings/1.13.0/spring-cloud-bindings-1.13.0.jar"
    version = "1.13.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/spring-cloud/spring-cloud-bindings/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:vmware:spring_cloud_bindings:2.0.0:*:*:*:*:*:*:*"]
    id = "spring-cloud-bindings"
    name = "Spring Cloud Bindings"
    purl = "pkg:generic/springframework/spring-cloud-bindings@2.0.0"
    sha256 = "dab47967bffb29c5b4c41653e9741b6ca15cde483926d7f9d0a04956247fb680"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-bindings/2.0.2/spring-cloud-bindings-2.0.2.jar"
    version = "2.0.2"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/spring-cloud/spring-cloud-bindings/blob/main/LICENSE"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "*"
